<div class="lines">
  <p class="op">We<i class="fas fa-heart" alt="heart"></i>coding</p>
  <p>Our mission is to help you improve yourself and land your dream job. We have a sizable repository of interview resources for many companies. In the past few years, our users have landed jobs at top companies around the world.</p>
<div class="wrapper">

  <div class="column">
<hr>
    <h5><b>Contributors</b></h5>
  <li>Regina Nurieva</li>
  <li>David Mortkowitz</li>
  <li>Akjol Anibaev</li>
  <li>Catherin Bradley</li>
  </div>
  <div class="column">
    <hr>
    <h5><b>Technologies Used</b></h5>
  <li>Angular</li>
  <li>JavaScript</li>
  <li>Node.js</li>
  <li>CSS/HTML</li>
  </div>
  <div class="column">
    <hr>
    <h5><b>For Education</b></h5>
  <li>Thank You, Epicodus</li>
  </div>
</div>
</div>
