<div class="lines">
  <br>
  <p class="op">We<i class="fas fa-heart" alt="heart"></i>coding</p>
  <p>Our mission is to help you improve yourself and land your dream job.<br> We have a sizable repository of interview resources for many companies.<br> And we hope that you will land a great job at top companies.</p>
<div class="wrapper">

  <div class="column">
<hr>
    <h5><b><i class="fas fa-users"></i>&nbsp;Contributors</b></h5>

  <li>Regina Nurieva</li>
  <li>David Mortkowitz</li>
  <li>Akjol Anibaev</li>
  <li>Catherin Bradley</li>
  </div>
  <div class="column">
    <hr>
    <h5><b><i class="fab fa-angular"></i>&nbsp;Technologies Used</b></h5>
  <li>Angular</li>
  <li>JavaScript</li>
  <li>Node.js</li>
  <li>CSS/HTML</li>
  </div>
  <div class="column">
    <hr>
    <h5><b><i class="fas fa-graduation-cap"></i>&nbsp;For Education</b></h5>
  <li>Thank You, Epicodus</li>
  </div>
</div>
<hr>
<h6>November 2018, Seattle, WA</h6>
</div>
