.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  width: 50%;
  margin: auto;
}

.fa-heart{
  font-size: 30px;
  color: #e8405a;
}

li{
  font-size: 11px;
  color: #505256;
  list-style-type: none;
  padding: 10px;

}
 h5{
   font-size: 11px;
 }

 .lines{
   
   background-color: #c3c7c9;
 }

 .op{
   /* opacity: .5; */
   font-size: 13px;
   text-align: center;
 }

 p{
   text-align: center;
   font-size: 15px;
   font-family: times;
 }

 h6{
   text-align: center;
   padding-top: 10px;
   padding-bottom: 10px;
   font-size: 15px;
   opacity: 0.7;
 }
