
  <div class="background-img">
    <div class="container">
      <div class="unit-copy-wrapper">
        <h2 class="headline">Welcome to CodeStudy</h2>
        <p>CodeStudy is a website desinged for web developers who want to enhance their skills,<br> expand knowledge, and prepare for technical interviews.</p>

        <div class="headlineContent">
          <div class="headlineLeft">
            <h3>Start Exploring JavaScript.</h3>
            <p class="js">Explore a learning tool that helps you get<br> the most out of JS fundamentals by providing <br>the necessary knowledge base to guide your progress towards the next <br>step in your programming career.</p>
          </div>


          <div class="headlineRight">
            <h3>Refresh your memory in C#.</h3>
            <p class="csharp">Over X questions for you to practice.<br> Come and join our tech community and participate in <br>our contests to challenge yourself and earn knowledge.</p>
          </div>

          <div class="headlineLeft">
            <h3>Front-End Necessities.</h3>
            <p class="css">Test your knowledge in CSS and HTML.<br> If you’re on your way to an interview for any role<br>like front end developer or web content editor,<br>you can be pretty confident that they’ll quiz you on CSS.<br></p>
          </div>

          <div class="headlineRight">
            <h3>Angular.</h3>
            <p class="ang">Challenge yourself and learn more about<br> Superheroic JavaScript MVW Framework.<br></p>
          </div>
        </div>
      </div>
  </div>
</div>
