<nav id="flash-navbar">
  <div id="navbar-container">
    <ul>
      <li> <a routerLink="/"class="far fa-file-code" alt="code"></a></li>
      <li><a routerLink="/js">JavaScript/JQuery</a></li>
      <li><a routerLink="/csharp">C# & MySQL</a></li>
      <li><a routerLink="/html">HTML/CSS</a></li>
      <li><a routerLink="/interview">Interview Prep</a></li>
      <li><a routerLink="/settings">Settings</a></li>
      <!-- <li><a href="#" class="fa fa-search" alt="search"></a></li> -->
    </ul>
  </div>
</nav>
