<nav id="flash-navbar">
  <div id="navbar-container">
    <ul>
      <li> <a routerLink="/"class="far fa-file-code" alt="code"></a></li>
      <li><a href="#">JavaScript/JQuery</a></li>
      <li>
        <a routerLink="/flash-cards">Flash Cards</a>
        </li>
      <li><a routerLink="/ipad">C#</a></li>
      <li><a href="#">HTML/CSS</a></li>
      <li><a href="#">Interview Prep</a></li>
      <li><a href="#">Settings</a></li>
      <!-- <li><a href="#" class="fa fa-search" alt="search"></a></li> -->
    </ul>
  </div>
</nav>
