
/* entire container, keeps perspective */
.flip-container {
  display: table-cell;
	perspective: 5%;
  background-color: #4d0f00;
  color: white;
  border-radius: 5px;
  float: left;
  margin: 3%;
  vertical-align: middle;
  text-align: center;


}
.question{
margin-top: 15%;
}
.answer{
  display: inline-block;
  margin: auto;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 500px;
	height: 200px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
